flask
flask-sqlalchemy
flask-login
flask-migrate
flask-bcrypt
flask-cors
flask-wtf
email-validator
werkzeug
wtforms
itsdangerous
python-dotenv
gunicorn
requests
pillow
sqlalchemy
pymysql
cryptography
